@media screen and (min-width: 1024px) {

	/************************************************************
	DEVICE TYPE: MONITOR
	************************************************************/

	h1 {
		text-align: left;
	}

	h2 {
		text-align: left;
	}

	/************************************************************
	HEADER
	************************************************************/

	#logo {

	}

	header a h1 {
		text-align: left;

	}

	/************************************************************
	NAVIGATION
	************************************************************/

	nav {
		text-align: left;
	}

	nav ul {

	}

	nav li {
		display: inline-block;
		margin: 0px;
		margin-right: 0.5em;
	}

	nav a, nav a:visited {

	}

	nav a:hover, nav a:active {

	}

	/************************************************************
	SECTION: X
	************************************************************/

	/* Not used yet */

	/************************************************************
	FOOTER
	************************************************************/

	footer p {

	}

}